@import '../vars';

.homes {
  margin: 2rem auto;
  max-width: 95vw;

  &__list {
    list-style: none;
  }
  &__heading {
    text-align: center;
    font-size: 2.4rem;
    color: $color-font-gold;
  }
}
