// SCSS VARIABLES

$font-primary: 'Montserrat', sans-serif;

$color-font-dark: #222;
$color-font-gold: rgb(218, 165, 32);

// MEDIA QUERIES

$medium: 768px;
$small: 587px;

@mixin medium {
  @media (max-width: #{$medium}) {
    @content;
  }
}

@mixin small {
  @media (max-width: #{$small}) {
    @content;
  }
}
