@import './vars';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; // 1rem = 10px
  font-family: $font-primary;
  $color-font-dark: #222;
  background: #e0eafc;
  background: -webkit-linear-gradient(to right, #cfdef3, #e0eafc);
  background: linear-gradient(to right, #cfdef3, #e0eafc);

  @include medium {
    font-size: 50%;
  }
}

.main {
  min-height: 98vh;
  padding-top: 8rem;
}

.input-wrapper {
  transform: translateY(-1rem);
  position: relative;
  width: 100%;
}

.form-error-info {
  font-size: 1.4rem;
  color: #ff5252;
  position: absolute;
  bottom: -1rem;
  left: 0;
  @include small {
    bottom: -2rem;
  }
}
